# dependencies
/app/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
/app/npm-debug.log

# example
/app/quick-start

# tests
/app/test
/app/coverage
/app/.nyc_output

# dist
/app/dist

/app/bun.lockb
/app/prisma/migrations
